@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1745426431516-7fcf72dc6415?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.overlay {
  background: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
}